.drag-over{
    border: 1px dashed #000;
}
.listview-default{
    overflow: hidden; 
    height: 130px 
}
.listview-all{
/*     overflow-y: scroll; 
    height: 260px */
}
.drop-image-container{
    width: 98%;
    margin: auto;
    border: 2px dashed #888;
    height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
}
.no-padding{
    padding: 0px;
}